.welcomeDev{
  @apply
  h-4
  text-center
  text-[8px]
  text-[#7e1b5e]
  bg-white
  border-0
}

/*navbar*/
.navamp {
  @apply
    bg-[#121212] 
    bg-gradient-to-r 
    from-[#121212] 
    via-[#7e1b5e] 
    to-[#121212] 
    shadow-xl
    shadow-gray-900
    lg:h-12
    md:h-12
    sm:h-12
    h-12
    flex
    justify-between
    items-center
    w-full
    sticky
    top-0
    z-50
}

.navMenu{
  @apply
  ml-2
  mb-2
  sm:ml-4 
  md:ml-6 
  lg:ml-8
  sm:flex
  mt-2
}

.navMenu .icon {
  @apply 
  sm:h-9
  sm:w-9
  h-9 w-9
text-white
}

.brand {
  @apply
text-white
  w-max
  flex
  place-content-center
  space-x-6
  sm:block
  hidden
  place-items-start
}

.brandLessThanSmall {
  @apply
  text-white
  place-items-center
  flex
  place-content-center
  bg-black
  space-x-6
  sm:hidden
  block
  border-b
  border-gray-300 
  border-solid
  shadow-lg 
  py-1

}

.searchCartUserDiv {
  @apply
  flex 
  justify-end
  gap-5
  mr-2
  sm:mr-4
  md:mr-6
  lg:mr-8
  place-items-center
}

.icon {
  @apply
    /* text-[#C0C0C0] */
    text-white
    h-8 w-8
    stroke-[0.75]
    transform 
    transition
    duration-300
    hover:scale-125
    hover:text-[#D4AF37]
    hover:stroke-[1.2]
    cursor-pointer
}

.searchCartUserDiv .icon {
  @apply
  hidden
  md:block
}
.searchCartUserDivInSidebar {
  @apply
  flex 
  justify-center
  gap-5
}
.searchCartUserDivInSidebar .icon {
  @apply
  block
  sm:hidden
}

.iconSidebar {
  @apply
  h-5
  w-5
  stroke-[0.75]
    transform 
    text-white
    transition
    duration-300
    hover:scale-125
    hover:text-[#D4AF37]
    hover:stroke-[1.2]
    cursor-pointer
}

